body
{
    background-color: black;
    color: white;
}

body
{
    font-size: large;
}

h1
{
    text-shadow: 6px 6px 6px blue;

}

a:hover
{
    color: black;
}

p:hover
{
    border-left: 3px solid black;
}

a:hover
{
    background-color: black;
}

